header {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    background-image: url("/planetarium/img/space.jpg");
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 95%;
    padding-bottom: 8px;
}

h1.title {
    color: white;
    font-size: 72px;
}

/* Przycisk do logowania */

.nav-button {
    background-color: #383838;
    border-radius: 50px;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    width: auto;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.nav-button:hover {
    background-color: #535353;
    transition: 0.2s;
}
